/** ***************** Ярмолюк ***************** **/
/** ***************** Ярмолюк ***************** **/
/** ***************** Боднар ***************** **/
.featured {
  width: 100%;
  height: 100%;
}
.feattext {
  color: #7b7b7b;
  font-weight: 600;
}
.image {
  width: 40%;
}
.logotext {
  float: right;
  font-size: 12px;
  margin-top: 21px;
}
.producttext {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
}
.producttext2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.producttext3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.useprod {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  border: 1px solid #000;
  border-radius: 20px;
}
.usetext {
  font-size: 28px;
  font-style: "Comic Sans MS", cursive, sans-serif;
  font-weight: 800;
  margin-left: 15px;
}
.list {
  margin: 30px;
  margin-top: 0;
  font-family: calibri;
  font-size: 17px;
  font-weight: 600;
  background-color: #bbbdba;
}
/** ***************** Боднар ***************** **/
/** ***************** Палюшок ***************** **/
/** ***************** Палюшок ***************** **/
/** ***************** Стефанюк ***************** **/
.footer {
  width: 100%;
}
.back {
  width: 100%;
  height: 220px;
  background-color: #666666;
}
.socialtxt {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  padding-top: 5px;
  font-size: 1.25em;
}
.socialimg {
  text-align: center;
}
.socialimg a {
  padding-right: 10px;
}
.allright {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  padding-top: 20px;
  font-size: 1em;
}
/** ***************** Стефанюк ***************** **/
