/** ***************** Ярмолюк ***************** **/
.main-header {
  width: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.main-header .head-top-line {
  width: 100%;
  background-color: #666666;
  padding-top: 15px;
  border-bottom: 3px solid #252529;
}
.main-header .head-top-line .row {
  margin-bottom: 0;
}
.main-header .head-top-line .head-logo {
  display: block;
  width: 100%;
  min-width: 200px;
}
.main-header .head-top-line .head-logo img {
  width: 100%;
}
.main-header .head-main {
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  padding-top: 14px;
  border-bottom: 3px solid #252529;
}
.main-header .head-main .header-img {
  width: 100%;
}
.main-header .head-main .head-btn {
  width: 60%;
  min-height: 54px;
  float: right;
  background-color: green;
  border: 2px solid black;
}
.main-header .head-main .head-main-text {
  width: 100%;
  height: 100%;
  padding: 0 21px;
}
/** ***************** Ярмолюк ***************** **/
/** ***************** Боднар ***************** **/
.featured {
  width: 100%;
  height: 100%;
}
.feattext {
  color: #7b7b7b;
  font-weight: 600;
}
.image {
  width: 40%;
}
.logotext {
  float: right;
  font-size: 12px;
  margin-top: 21px;
}
.producttext {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
}
.producttext2 {
  font-famili: calibri;
  font-size: 18px;
  font-weight: 500;
}
.producttext3 {
  font-famili: calibri;
  font-size: 15px;
  font-weight: 300;
}
.useprod {
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  border: 1px solid #000;
  border-radius: 20px;
}
.usetext {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  margin-left: 15px;
}
.list {
  margin: 30px;
  margin-top: 0;
  font-family: calibri;
  font-size: 17px;
  font-weight: 600;
  background-color: #bbbdba;
}
/** ***************** Боднар ***************** **/
/** ***************** Палюшок ***************** **/
/** ***************** Палюшок ***************** **/
/** ***************** Стефанюк ***************** **/
.footer {
  width: 100%;
}
.back {
  width: 100%;
  height: 220px;
  background-color: #666666;
}
.socialtxt {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  padding-top: 5px;
  font-size: 1.25em;
}
.socialimg {
  text-align: center;
}
.socialimg a {
  padding-right: 10px;
}
.allright {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  padding-top: 20px;
  font-size: 1em;
}
/** ***************** Стефанюк ***************** **/
/** ***************** Normalize ***************** **/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/** ***************** Normalize ***************** **/
